<h1>Links</h1>
<%= form_for :link, url: links_path, html: {class: 'new_link'} do |f| %>
  <h5>Add Link</h5>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.button 'Submit', class: 'btn-sm btn btn-default' %>
<% end %>

<table class="table">
  <tr>
    <th>Link</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @links.each do |link| %>
    <tr data-id='<%= link.id %>' class='<%= link.read %>'>
      <td><%= link_to link.title, link.url %></td>
      <td><%= link_to 'Edit', edit_link_path(link) %></td>
      <td><%= link_to 'Delete', link_path(link), method: 'delete' %></td>
      <% if link.read %>
        <td><%= link_to 'Mark as Unread', '#', id: 'read' %></td>
      <% else %>
        <td><%= link_to 'Mark as Read', '#', id: 'read' %></td>
      <% end %>
    </tr>
  <% end %>
</table>
