<!DOCTYPE html>
<html>
<head>
  <title>Thoughtbox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ThoughtBox</a>
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= button_to 'Logout', logout_path, method: 'delete', class: 'btn btn-default navbar-btn' %></li>
      <% end %>
    </ul>
    </div>
  </div>
</nav>
<div class="container">
  <% flash.each do |type, msg| %>
    <%= content_tag :div, msg, class: "flash_#{type}" %>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
